.admin-layout {
  display: flex;
  flex: 1;
}
.admin-sidebar {
  width: 250px;
  background: #f7f7f9;
  padding: 16px;
  height: 100%;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.02);
  min-height: 92vh;
}
.admin-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.admin-sidebar a.item {
  width: 100%;
  text-align: right;
  padding: 10px 12px;
  background: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
.admin-sidebar a.item:hover {
  background: var(--success-light-x2);
}
.admin-sidebar a.item.active {
  background: var(--success-light-x3);
  color: var(--success-dark);
}

