#services {
  padding: 150px 0 !important;
  min-height: calc(100vh - 99px);
  background-image: var(--gradient-secondary);
}
#services h2 {
  color: var(--secondary-light);
  font-size: 2em;
}
#services h3 {
  font-size: 1.5em;
}
#services .card {
  padding: 2em;
  transition: 1s;
  color: var(--success-dark);
  max-width: 300px;
  margin: auto;
}
#services .card:hover {
  background-color: var(--success-light) !important;
  color: white !important;
  transform: scaleX(1.1);
  box-shadow: 5px 5px 10px black;
  font-weight: 100;
}
#services .card:hover .service-count {
  transition: 0.3s;
  font-weight: 900;  
  color: var(--success-light) !important;
  background-color: white !important;
}
.service-count {
    width: 50px;
    padding : 10px;
    margin: auto;
    box-shadow:  var(--shadow-md);

}
#services .card:hover h3 {
  color: var(--success-dark-color) !important;  
}